.btn-w
    text-align: center
    margin-top 38px
    .btn:first-child
        margin-left 0
    .btn:last-child
        margin-right: 0
.btn
    position: relative
    display inline-flex
    align-items center
    justify-content center
    white-space nowrap
    cursor pointer
    border: none rgba(0, 0, 0, 0)
    padding 0 27px
    margin 0 5px 0
    line-height: 1
    border-radius 40px
    height 38px
    background-color cinza + 30%
    font-size 14px
    color texts
    .icon
        float left
.btn:hover, .btn:focus
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10))
.btn:focus
    outline: 0
.btn-active,
.btn:active
    border-color: #000\9
.btn.btn-100
    width 100%
    margin 0 0 11px 0
.btn.btn-big
    width 90%
    margin 15px 0 0
    height 50px
    font-size: 18px
.btn.btn-small
    margin 0
    padding 0 12px
    font-size: 12px
    height 34px
.btn.btn-p
    background-color: colorp
    color white
.btn.btn-s
    background-color: colors
    if dark(colors)
        color white
    else
        color texts
.btn.btn-t
    background-color: colort
    if dark(colort)
        color white
    else
        color texts
.btn.btn-q
    background-color: colorq
    if dark(colorq)
        color white
    else
        color texts
.btn.btn-warning
    background-color: colorr
    color white
.btn.btn-whatsapp
    background-color: whatsapp
    color white
.btn.btn-ok
    background-color: colorg
    color white
.btn.btn-cancel
    background-color: white
    color texts
    border 1px solid cinza - 10%
.btn.btn-icon
    padding 0 31px 0 23px
    .icon
        margin-right: 4px

.carts-button
    display flex
    height 50px
    width 300px
    align-items center
    justify-content center
    background-color: whatsapp
    color white
    padding 10px 0
    border-radius 40px
    bottom: 22px
    cursor pointer
    .icon
        margin-right 4px
