<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Micro Soldas Moura</title>

    <!-- Styles -->
    <link rel="stylesheet" href="{{ '/assets/css/home.css' }}">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/third.css' }}">
    <link rel="stylesheet" href="{{ '/assets/css/global.css' }}">

    <link rel="alternate" href="{{ page.url | replace:'index.html','' }}" hreflang="pt-br" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" }}" />

</head>
