.home
    .main
        width 100%
        height 100vh
        background-image url('/assets/img/bg.jpg')
        background-repeat no-repeat
        background-size cover
        .main-inner
            display flex
            align-items center
            justify-content center
            height 100%
            flex-direction: column
            .content
                position relative
                text-align center
                top -70px
                background rgba(white, .2)
                border-radius 20px
                border 4px solid #233D7E
                padding 20px 30px
                img
                    width 200px
                    margin-left: -39px
                .infos
                    margin-top 30px
                    color white
                    text-shadow: 2px 2px #233D7E
                    p
                        margin-bottom: 5px
