.home
    .main
        position: relative
        .main-inner
            display flex
            align-items: center
            justify-content center
            height 100%
            img
                width 200px
                margin-left: -39px